# FOR-Loop

#

# Q1.print the discounted price of a mobile

In [1]:
phone = 40000
discount=[5,10,15,20]
for i in discount:
    print(phone-phone*i/100)

38000.0
36000.0
34000.0
32000.0

# Q2.Print the multiplication table of 5

In [4]:
num=5
for i in range(1,11):
    print(num,"x",i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Q3.Print even numbers from 2 to 10

In [3]:
for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

#

# While-Loop

#

# Q1.Write a code in python that prints the discounted price

In [5]:
price=40000
i=5
while i<=20:
    discounted_price=price-(price*i/100)
    print(discounted_price)
    i+=5

38000.0
36000.0
34000.0
32000.0

# Q2.Print the multiplication table of 5

In [4]:
count=1
while count<=10:
    print(5,"x",count,"=",count*5)
    count+=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Q3.Print even numbers from 2 to 10

In [4]:
i=2
while i<=10&i%2==0:
        print(i)
        i+=1

# combining Lists

In [1]:
cities=["New York","Paris","Tokyo"]
populations=[83883883,893838739,73838390]
countries=["USA","France","Japan"]
combined_data=list(zip(cities,populations,countries))
print(combined_data)

[('New York', 83883883, 'USA'), ('Paris', 893838739, 'France'), ('Tokyo', 73838390, 'Japan')]

#

In [3]:
data=[["apple",3,"A"],["banana",2,"B"],["orange",1,"C"]]
x,y,z=zip(*data)
print(x)
print(y)
print(z)

('apple', 'banana', 'orange')
(3, 2, 1)
('A', 'B', 'C')

# Enumerate

In [6]:
serial_no=[1,2,3,4]
for index,no in enumerate(serial_no):
    print(index,no)

0 1
1 2
2 3
3 4

In [7]:
serial_no=[1,2,3,4]
for index,no in enumerate(serial_no,start=1):
    print(index,no)

1 1
2 2
3 3
4 4

In [11]:
message=" Hello "
for i,j in enumerate(message):
    print(j,i)

  0
H 1
e 2
l 3
l 4
o 5
  6

# Questions

# Q1.Finding the sum of numbers in a list using while loop

In [13]:
numbers = [10, 20, 30, 40, 50]
total = 0
i = 0

while i < len(numbers):
    total += numbers[i]  
    i += 1  

print("Sum:", total)

Sum: 150

# Q2.Printing the square of numbers using while loop

In [14]:
numbers = [1, 2, 3, 4, 5]  
i = 0  

while i < len(numbers):
    print("Square of", numbers[i], "is", numbers[i] ** 2)  
    i += 1

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

# Q3.Finding the sum of even numbers using while loop

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
total = 0  
i = 0  

while i < len(numbers):
    if numbers[i] % 2 == 0:  
        total += numbers[i]  
    i += 1  

print("Sum of even numbers:", total)

Sum of even numbers: 30

# Q4.Finding the factorial of a given number using  loop

In [16]:
num = int(input("Enter a number: "))  
factorial = 1  
i = 1  

while i <= num:  
    factorial *= i
    i += 1  

print("Factorial of", num, "is", factorial)

Enter a number: 2
Factorial of 2 is 2